*{body {
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(139, 61, 58);
}

header {
    font-family: "Merienda", cursive;
    background-color:  rgb(139, 61, 58);;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    margin-top: 3cm;
}   

.headercontainer {
   margin-bottom: 1cm;
   text-align: center;
   font-family: "Comfortaa", sans-serif;
    color: rgb(54, 31, 27);
}

h1{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #332a2a;
}

p {
    color: #bca47e;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 0px;
    font-family: "Comfortaa", sans-serif;
    text-align: lefts;
}

h2 {
    font-family: "Merienda", cursive;
    color: #9d8a6b;;
    font-size: 50px;
    margin: 5px;  
    text-align: center;
    
}

h3 {
    font-family: "Courgette", cursive;
    color: #bca47e;;
    font-size: 35px;
    margin: 0px 0;  
    text-align: center;
}


h4 {
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color:#bca47e;
}


nav {
    padding: 10px;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 100px;
    margin-left: 4cm;
    margin-right: 4cm;
    margin-bottom: 60px;
    margin-top: 5cm;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(190, 166, 166, 0.1);
    background-color: rgb(83, 49, 42);
}

footer {
    background-color: #332a2a;;
    text-align: center;
    padding: 10px;
}



.all {
margin-left: 2cm;
margin-right: 2cm;
margin-top: 3cm;
margin-bottom: 15cm;
padding: 1cm;
}



.table1 {
    color: #bca47e;
    text-align: left;
    font-size: 20px;
    padding: 3px;
    float: left;
}

.table2 {
    color: #bca47e;
    text-align: right;
    font-size: 20px;
    padding: 3px;
    float: right;
}

.table3 {
    color: #bca47e;;
    text-align: center;
    font-size: 20px;
    float: left;
}

.table4 {
    color: #bca47e;;
    text-align: center;
    font-size: 20px;
}

.Casts {
margin-top: 1cm;
margin-left: 3cm;
margin-right: 3cm;
font-family: "Comfortaa", sans-serif;
}

.r {
    margin-top: 2cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    color:#e4b56e;
}

.s {
    margin-top: 2cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

.p {
    margin-top: 2cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

.t {
    margin-top: auto;
    margin-bottom: 15px;
    padding-bottom: 9cm;
p {
margin-bottom:1cm;}
}
}
.kk {
    margin-top: 1cm;
    margin-left: 9.5cm;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 20px;
}


.ll {
    margin-top: 1cm;
    margin-left: 9cm;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 20px;
}
.button {
    display: inline-block;
    padding: 15px 20px;
    color: #fce3d2c7;
    border-radius: 5px;
    font-size: 25px;
}

.button:hover {
    background-color: #786f6954;
}

}
